#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Forums.index}">所有板块</a> → <a href="@{Forums.show(topic.forum.id)}">${topic.forum.name}</a>
</div>

<h1 id="title">${topic.subject}</h1>
<p class="light">
	<strong>
	 ${topic.voicesCount} 个用户发表了 ${topic.postsCount} 个帖子 
	</strong>
</p>

#{pagination page:page ?: 1, size:topic.postsCount /}

#{list items:topic.getPosts(page ?: 1, pageSize), as:'post'}
    #{if !post.deleted}
        #{showPost arg:post, canLike:true, user:connected /}
    #{/if}
#{/list}

#{if connected}
	<p>
		<a class="action" href="@{Topics.reply(topic.forum.id, topic.id)}">回复</a>
	</p>
#{/if}

#{if connected?.admin}
	<div id="youreadmin">
		管理员操作
	</div>

	<div class="box">
		<h2>删除话题</h2>
		<form action="@{Topics.delete(topic.forum.id, topic.id)}" method="POST">
			<input type="submit" value="删除" id="deleteIt" />
		</form>
	</div>	
#{/if}