#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Users.index}">Users</a> →
</div>

<h1 id="title">${user.name}</h1></br>
        #{if user.isBanzhu}
            <h2 style='color:red;'>
                    我是 ${user.getSupervisedForum()} 的版主 </br>
            </h2>
        #{/if}    
        #{if user.isAdmin()}
            <h2 style='color:red;'>
                我是系统管理员 </br>
            </h2>
		#{/if}	

<p class="light">
	在 ${user.topicsCount} 个话题中发表了 ${user.postsCount} 个帖子  </br>
	注册时间 : ${user.registrationDate.format('MM/dd, yyyy hh:mma')} </br>
    等级: ${user.postsCount / 10} </br>
	生日 : ${user.dateOfBirth.format('MM/dd, yyyy hh:mma')} </br>
	性别 : ${user.gender} </br>
	版主 : ${user.isBanzhu} </br>
	管理员 : ${user.isAdmin()}
</p>



#{if connected?.admin && user.isAdmin()}
<h2 style='color:red;'>水军日志（管理员可见）</h2>
<p>
	<table id="users-list">
	<thead>
		<tr>
			<th class="main">触发时间</th>
			<th class="infos">用户名</th>
		</tr>
	</thead>
	#{list items:susp_users, as:'su'}
	<tr>
		<td>
			${su.log_created_time.format('MM/dd, yyyy hh:mma')} 
		</td>
		<td>
			${user.findById(su.user_id).name}
		</td>
	</tr>
	#{/list}	
	</table>
</p>
<p></p>

#{/if}
#{if user.recentsPosts}
	<h2>最近发表了</h2>

	#{list items:user.recentsPosts, as:'post'}
        #{if !post.deleted}
            #{showPost arg:post, showTopic:true, canLike:false /}
        #{/if}
	#{/list}
#{/if}

#{else}
	<h2>他还没有发过帖子</h2>
#{/else}


#{if connected?.admin && connected.id != user.id}
<form action="@{Users.delete(user.id)}" method="POST">
	<div id="youreadmin">
		管理员操作
	</div>

	<div class="box">
		<h2>删除用户</h2>	
			<input type="submit" value="删除" id="confirmDeletion" />
	</div>
</form>
#{/if}

#{if connected?.admin}
</br></br></br></br></br></br>
<p style="color: purple;font-size: 20pt">任命版主</p>
#{list items:forums, as:'forum'}
    #{if !forum.deleted}
		<tr>
			<td>
				<h1><a href="@{Forums.show(forum.id)}">${forum.name}</a></h1>
				<blockquote>
					描述: ${forum.description}
				</blockquote><p></p>
                <form action="@{Users.promote(user.id, forum.id)}" method="POST">        
                    <input type="submit" value="任命" id="assignBanzhu" />
                </form>
			</td>
		</tr>
    #{/if}<p></p><p></p>
#{/list}
#{/if}