#{extends 'main.html' /}

<div id="breadcrumb">
	<a href="@{Forums.index}">Forums</a> →
</div>

<h1 id="title" style="font-size:22pt;">${forum.name}</h1>
<p class="light">
	<strong>
		#{pluralize size:forum.postsCount, word:'post' /} in #{pluralize size:forum.topicsCount, word:'topic' /}
	</strong>
</p>

<p>
    Banzhu: ${banzhuName}
</p>


#{if connected}
	<div id="newTopic">
		<a class="action" href="@{Topics.post(forum.id)}">Post a new topic</a>
	</div>
#{/if}

#{pagination page:page ?: 1, size:forum.topicsCount /}

<table id="topics-list">
	<thead>
		<tr>
			<th>Topics</th>
            <th>Posted by</th>
			<th>Posts</th>
			<th>Views</th>
			<th>Last Post</th>
		</tr>
	</thead>
	#{list items:forum.getTopics(page ?: 1, pageSize), as:'topic'}
        #{if !topic.deleted}
            <tr>
                <td class="main">
                    <a href="@{Topics.show(topic.forum.id, topic.id)}">${topic.subject}</a>
                    #{if topic.postsCount > pageSize}
                        &nbsp;<a class="last" href="@{Topics.show(topic.forum.id, topic.id, topic.postsCount.page(pageSize))}">last page</a>
                    #{/if}
                </td>
                <td class="infos">
                    ${topic.postedBy.name}
                </td>
                <td class="infos count">
                    ${topic.postsCount}
                </td>
                <td class="infos count">
                    ${topic.views}
                </td>
                <td class="infos">
                    ${topic.lastPost.postedAt.since()} <br /> 
                    by <strong>${topic.lastPost.postedBy.name}</strong> (<a href="@{Topics.show(topic.forum.id, topic.id, topic.postsCount.page(pageSize))}">view</a>)
                </td>
            </tr>
        #{/if}
	#{/list}
</table></br></br></br></br>

<h1 style="font-size:22pt;">Active Users of <span style="color:red;">${forum.name}</span></h1>
<button onclick="hideShow()" id="showhide">Show active users!</button>
<div id="rankedUser" style="display:none;">
    <table id="active-user-by-posts">
        <thead>
            <tr>
                <th>User</th>
                <th>Posts</th>
            </tr>
        </thead>
        #{list items:forum.getActiveUsersByPost(), as:'user'}
            #{if !user.deleted}
                <tr>
                    <td class="main">                   
                        <a href="@{Users.show(user.id)}">${user.name}</a>
                    </td>
                    <td class="infos">
                        ${forum.postsOf(user.id)}
                    </td>
                </tr>
            #{/if}
        #{/list}
    </table>
</div></br></br></br></br>


<h1 style="font-size:22pt;">Hottest Topic of <span style="color:red;">${forum.name}</span></h1>
<button onclick="hideShow_hottest_topic()" id="showhide_hottest_topic">Show hottest topic!</button>
<div id="hottest-topic" style="display:none;">
    <table id="active-user-by-posts">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Started by</th>
                </tr>
            </thead>
            #{list items:forum.getHottestTopic(), as:'topic'}
                    <tr>
                        <td class="main">                   
                            <a href="@{Topics.show(forum.id, topic.id, 1)}">${topic.subject}</a>
                        </td>
                        <td class="infos">
                            ${topic.postedBy.name}
                        </td>
                    </tr>
            #{/list}
    </table>
</div>


<h1 style="font-size:22pt;">Above-average-view Topics of <span style="color:red;">${forum.name}</span></h1>
<button onclick="hideShow_many_views()" id="showhide_many_views">Show above average view topics!</button>
<div id="many-view" style="display:none;">
    <table id="many-view-topics">
            <thead>
                <tr>
                    <th>Topic</th>
                    <th>Views</th>
                </tr>
            </thead>
            #{list items:forum.getAboveAverageViewTopic(), as:'topic'}
                    <tr>
                        <td class="main">                   
                            <a href="@{Topics.show(forum.id, topic.id, 1)}">${topic.subject}</a>
                        </td>
                        <td class="infos">
                            ${topic.views}
                        </td>
                    </tr>
            #{/list}
    </table>
</div>



<h1 style="font-size:22pt;">Above-average Users of <span style="color:red;">${forum.name}</span></h1>
<button onclick="hideShow_above_average()" id="showhide_above_average">Show above average users!</button>
<div id="above-average" style="display:none;">
    <table id="above-average-users">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Replies</th>
                </tr>
            </thead>
            #{list items:forum.getAboveAverageUser(), as:'user'}
                    <tr>
                        <td class="main">                   
                            <a href="@{Users.show(user.id)}">${user.name}</a>
                        </td>
                        <td class="infos">
                            ${forum.repliesOf(user.id)}
                        </td>
                    </tr>
            #{/list}
    </table>
</div>


#{if connected?.admin || connected?.isBanzhuOf == forum.id}
    #{if connected?.admin}
        <div id="youreadmin">
            Administrator options
        </div>
    #{/if}
    #{if connected.isBanzhuOf == forum.id}
        <div id="youreadmin">
            BanZhu options
        </div>
    #{/if}

	<div class="box">
		<h2>Delete this forum</h2>
		<form action="@{Forums.delete(forum.id)}" method="POST">
			<input type="submit" value="Delete it !" id="deleteIt" />
		</form>
	</div>

	<div class="box">
		<h2>Change forum name</h2>
		<form action="@{Forums.modify(forum.id)}" method="POST">
			<textarea type="text" value="NewTopicName" name="ChangeName"></textarea>
			<input type="submit" value="Change name" id="changeIt" />
		</form>
	</div>
#{/if}

<script>
function hideShow() {
    var x = document.getElementById("rankedUser");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function hideShow_hottest_topic() {
    var x = document.getElementById("hottest-topic");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
function hideShow_many_views() {
    var x = document.getElementById("many-views");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
    
function hideShow_above_average() {
    var x = document.getElementById("above-average");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
